.registerContainer {
  width: 38%;
  height: 65%;
  position: relative;

  background-color: #fff;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerContainer > h1 {
  margin-bottom: 2rem;
}

.registerContainer > form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerContainer > form .registerInput {
  margin-bottom: 2rem;
  width: 60%;
}

.registerContainer > form .registerButton {
  margin-top: 1rem;
  height: 3rem;
  width: 30%;
}

.registerLoginButton {
  position: absolute;
  bottom: 3%;
  left: 3%;

  font-size: 1.1rem;
  background: transparent;
  border: 0;
  color: darkslateblue;
  outline: 0;

  transition: all 0.3s ease;
}

.registerLoginButton:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .registerContainer {
    width: 60%;
  }

  .registerContainer > form .registerInput {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .registerContainer {
    width: 100%;
    height: 90vh;
  }
  .registerContainer > form .registerButton {
    width: 50%;
  }
}
